@font-face {
    font-family: 'norseman';
    src: url('norse-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    height: 100vh;
    display: flex;
}

.left {
    position: relative;
}

.background {
    height: 100%;
}

.logo-section {
    font-family: "norseman";
    font-size: 110px;
    background-color: black;
    color: white;
    opacity: 60%;
    width: 100%;
    height: 18%;
    position: absolute;
    top: 2em;
    

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 120px;
    padding-right: 5px;
    opacity: 100%;
}

.right {
    background-color: papayawhip;
    height: 100%;
    flex: 1;
}
